[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[packages]
numpy = {version = "*", index = "piwheels"}
librosa = {version = "*", index = "piwheels"}
matplotlib = {version = "*", index = "piwheels"}
pyaudio = {version = "*", index = "piwheels"}
pyrubberband = {version = "*", index = "piwheels"}
scipy = {version = "*", index = "piwheels"}
pyworld = {version = "*", index = "piwheels"}

[dev-packages]
pylint = "==2.12.2"
mypy = "==0.920"
autopep8 = "==1.6.0"

[requires]
python_version = "3.8"
